body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
    margin: 0px 20px;
    display: flex;
}

img {
    display: flex;
}

.header {
    background-color: darkolivegreen;
}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    font-size: 24px;
    align-items: center;
    font-weight: bold;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    font-size: 24px;
    align-items: center;
    font-weight: bold;
}

.overview {
    display: flex;
    max-width: 500px;
    min-width: 400px;
    justify-content: center;
}

.overview-title {
    font-size: 48px;
    color: #f9faf8;
}

.header-content {
    display: flex;
}

.banner-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
}

.overview {
    display: flex;
    flex-direction: column;
}

.sign-up-button {
    display: flex;
    padding: 10px;
    max-width: 125px;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer
}

.info-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
}

.info-content {
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
}

.info-box {
    display: flex;
    flex-shrink: 1;
    text-wrap: wrap;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.cropped-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.quote {
    background-color: darkolivegreen;
    display: flex;
    justify-content: center;
    padding: 70px;
    flex-direction: column
}

.quote-content {
    display: flex;
    font-size: 36px;
    font-style: italic;
}

.quote-author {
    display: flex;
    font-size: 24px;
    align-self: flex-end;
    text-wrap: nowrap
}

.call-to-action-container {
    display: flex;
    background-color: tan;
    /* flex-direction: column; */
    align-items: center;
    border-radius: 10px;
    margin: 50px 100px;
    padding: 20px;
}

.ending-statement {
    display: flex;
    flex-basis: 3000px;
    text-align: center;
    flex-direction: column;
    margin-right: 20px
}

.main-text {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.sub-text {
    font-size: 16px;
    margin: 5px 0 0 0;
}

.button-container {
    width: 100%;
    display: flex;
    flex-basis: 1;
    justify-content: flex-end;
    padding-right: 40px;
    cursor: pointer;
    /* Adjust padding as needed */
}

.sign-up-button {}

.copywrite {
    display: flex;
    justify-content: center;
    background-color: saddlebrown;
    font-size: 11px;
}

img {
    max-width: 100%;
    height: auto;
    min-width: 10%
}